<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.manager.dao.WithdrawDao">
    <!-- 属性映射 -->
    <resultMap id="dataMap" type="com.xn.manager.model.WithdrawModel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="order_money" property="orderMoney" jdbcType="VARCHAR" />
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
        <result column="order_status" property="orderStatus" jdbcType="BIT" />
        <result column="withdraw_type" property="withdrawType" jdbcType="BIT" />
        <result column="ascription_id" property="ascriptionId" jdbcType="BIGINT" />
        <result column="out_type" property="outType" jdbcType="BIT" />
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
        <result column="in_bank_card" property="inBankCard" jdbcType="VARCHAR" />
        <result column="in_bank_name" property="inBankName" jdbcType="VARCHAR" />
        <result column="in_account_name" property="inAccountName" jdbcType="VARCHAR" />
        <result column="out_bank_name" property="outBankName" jdbcType="VARCHAR" />
        <result column="out_bank_card" property="outBankCard" jdbcType="VARCHAR" />
        <result column="out_account_name" property="outAccountName" jdbcType="VARCHAR" />
        <result column="picture_ads" property="pictureAds" jdbcType="VARCHAR" />
        <result column="check_status" property="checkStatus" jdbcType="BIT" />
        <result column="check_info" property="checkInfo" jdbcType="VARCHAR" />
        <result column="data_explain" property="dataExplain" jdbcType="VARCHAR" />
        <result column="ac_name" property="acName" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="curday" property="curday" jdbcType="INTEGER" />
        <result column="curhour" property="curhour" jdbcType="BIT" />
        <result column="curminute" property="curminute" jdbcType="BIT" />
        <result column="run_num" property="runNum" jdbcType="BIT" />
        <result column="run_status" property="runStatus" jdbcType="BIT" />
        <result column="send_num" property="sendNum" jdbcType="BIT" />
        <result column="send_status" property="sendStatus" jdbcType="BIT" />
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
        <result column="create_role_id" property="createRoleId" jdbcType="BIGINT" />
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
        <result column="update_role_id" property="updateRoleId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
        <result column="yn" property="yn" jdbcType="BIT" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id, a.alias, a.order_no, a.order_money, a.out_trade_no, a.order_status, a.withdraw_type,
        a.out_type, a.merchant_id, a.in_bank_card, a.in_bank_name, a.in_account_name, a.out_bank_name,
        a.out_bank_card, a.out_account_name, a.picture_ads, a.check_status, a.check_info, a.data_explain,
        a.remark, a.curday, a.curhour, a.curminute, a.run_num, a.run_status, a.send_num, a.send_status, a.create_user_id,
        a.create_role_id, a.update_user_id, a.update_role_id, a.create_time, a.update_time, a.ts_time,b.ac_name,
        a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            <if test="alias != null and alias != ''" >
                and a.alias = #{alias}
            </if>
            <if test="merchantId != 0 and merchantId >0" >
                and a.merchant_id = #{merchantId}
            </if>
            <if test="acName  != null and acName != ''" >
                and b.ac_name = #{acName}
            </if>
            <if test="orderMoney  != null  and  orderMoney != ''" >
                and a.order_money = #{orderMoney}
            </if>
            <if test="orderMoney  != null  and  orderMoney != ''" >
                and a.order_money = #{orderMoney}
            </if>
            <if test="beginCurday  != 0 and beginCurday >0" >
                and a.curday >= #{beginCurday}
            </if>
            <if test="endCurday  != 0 and endCurday >0" >
                and a.curday  &lt;= #{endCurday}
            </if>
            and a.yn =  0
        </trim>
    </sql>





    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fr_withdraw a
        left join  tb_fr_merchant  b
        on a.merchant_id=b.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_withdraw a  left join  tb_fr_merchant  b
        on a.merchant_id=b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询列表-无分页-有条件/有条件 -->
    <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_withdraw a  left join  tb_fr_merchant  b
        on a.merchant_id=b.id
        <include refid="Example_Where_Clause"/>
        order by a.create_time desc
    </select>


    <!-- 根据id查询记录 -->
    <select id="queryById"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_withdraw a left join  tb_fr_merchant  b
        on a.merchant_id=b.id
        <include refid="Example_Where_Clause_id"/>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from tb_fr_withdraw a left join  tb_fr_merchant  b
        on a.merchant_id=b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 添加记录 -->
    <insert id="add" parameterType="Object" >
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into tb_fr_withdraw
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="alias != null" >
                alias,
            </if>
            <if test="orderNo != null" >
                order_no,
            </if>
            <if test="orderMoney != null" >
                order_money,
            </if>
            <if test="outTradeNo != null" >
                out_trade_no,
            </if>
            <if test="orderStatus != null" >
                order_status,
            </if>
            <if test="withdrawType != null" >
                withdraw_type,
            </if>
            <if test="outType != null" >
                out_type,
            </if>
            <if test="merchantId != null" >
                merchant_id,
            </if>
            <if test="inBankCard != null" >
                in_bank_card,
            </if>
            <if test="inBankName != null" >
                in_bank_name,
            </if>
            <if test="inAccountName != null" >
                in_account_name,
            </if>
            <if test="outBankName != null" >
                out_bank_name,
            </if>
            <if test="outBankCard != null" >
                out_bank_card,
            </if>
            <if test="outAccountName != null" >
                out_account_name,
            </if>
            <if test="pictureAds != null" >
                picture_ads,
            </if>
            <if test="checkStatus != null" >
                check_status,
            </if>
            <if test="checkInfo != null" >
                check_info,
            </if>
            <if test="dataExplain != null" >
                data_explain,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="curday != null" >
                curday,
            </if>
            <if test="curhour != null" >
                curhour,
            </if>
            <if test="curminute != null" >
                curminute,
            </if>
            <if test="runNum != null" >
                run_num,
            </if>
            <if test="runStatus != null" >
                run_status,
            </if>
            <if test="sendNum != null" >
                send_num,
            </if>
            <if test="sendStatus != null" >
                send_status,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="createRoleId != null" >
                create_role_id,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
            <if test="updateRoleId != null" >
                update_role_id,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="alias != null" >
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null" >
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderMoney != null" >
                #{orderMoney,jdbcType=VARCHAR},
            </if>
            <if test="outTradeNo != null" >
                #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                #{orderStatus,jdbcType=BIT},
            </if>
            <if test="withdrawType != null" >
                #{withdrawType,jdbcType=BIT},
            </if>
            <if test="outType != null" >
                #{outType,jdbcType=BIT},
            </if>
            <if test="merchantId != null" >
                #{merchantId,jdbcType=BIGINT},
            </if>
            <if test="inBankCard != null" >
                #{inBankCard,jdbcType=VARCHAR},
            </if>
            <if test="inBankName != null" >
                #{inBankName,jdbcType=VARCHAR},
            </if>
            <if test="inAccountName != null" >
                #{inAccountName,jdbcType=VARCHAR},
            </if>
            <if test="outBankName != null" >
                #{outBankName,jdbcType=VARCHAR},
            </if>
            <if test="outBankCard != null" >
                #{outBankCard,jdbcType=VARCHAR},
            </if>
            <if test="outAccountName != null" >
                #{outAccountName,jdbcType=VARCHAR},
            </if>
            <if test="pictureAds != null" >
                #{pictureAds,jdbcType=VARCHAR},
            </if>
            <if test="checkStatus != null" >
                #{checkStatus,jdbcType=BIT},
            </if>
            <if test="checkInfo != null" >
                #{checkInfo,jdbcType=VARCHAR},
            </if>
            <if test="dataExplain != null" >
                #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="curday != null" >
                #{curday,jdbcType=INTEGER},
            </if>
            <if test="curhour != null" >
                #{curhour,jdbcType=BIT},
            </if>
            <if test="curminute != null" >
                #{curminute,jdbcType=BIT},
            </if>
            <if test="runNum != null" >
                #{runNum,jdbcType=BIT},
            </if>
            <if test="runStatus != null" >
                #{runStatus,jdbcType=BIT},
            </if>
            <if test="sendNum != null" >
                #{sendNum,jdbcType=BIT},
            </if>
            <if test="sendStatus != null" >
                #{sendStatus,jdbcType=BIT},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createRoleId != null" >
                #{createRoleId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateRoleId != null" >
                #{updateRoleId,jdbcType=BIGINT},
            </if>
            <![CDATA[  NOW(), ]]>
        </trim>
    </insert>


    <!-- 更新记录 -->
    <update id="update" parameterType="Object">
        UPDATE tb_fr_withdraw a
        <trim prefix="set" suffixOverrides=",">
            <if test="alias != null" >
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null" >
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderMoney != null" >
                order_money = #{orderMoney,jdbcType=VARCHAR},
            </if>
            <if test="outTradeNo != null" >
                out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                order_status = #{orderStatus,jdbcType=BIT},
            </if>
            <if test="withdrawType != null" >
                withdraw_type = #{withdrawType,jdbcType=BIT},
            </if>
            <if test="outType != null" >
                out_type = #{outType,jdbcType=BIT},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=BIGINT},
            </if>
            <if test="inBankCard != null" >
                in_bank_card = #{inBankCard,jdbcType=VARCHAR},
            </if>
            <if test="inBankName != null" >
                in_bank_name = #{inBankName,jdbcType=VARCHAR},
            </if>
            <if test="inAccountName != null" >
                in_account_name = #{inAccountName,jdbcType=VARCHAR},
            </if>
            <if test="outBankName != null" >
                out_bank_name = #{outBankName,jdbcType=VARCHAR},
            </if>
            <if test="outBankCard != null" >
                out_bank_card = #{outBankCard,jdbcType=VARCHAR},
            </if>
            <if test="outAccountName != null" >
                out_account_name = #{outAccountName,jdbcType=VARCHAR},
            </if>
            <if test="pictureAds != null" >
                picture_ads = #{pictureAds,jdbcType=VARCHAR},
            </if>
            <if test="checkStatus != null" >
                check_status = #{checkStatus,jdbcType=BIT},
            </if>
            <if test="checkInfo != null" >
                check_info = #{checkInfo,jdbcType=VARCHAR},
            </if>
            <if test="dataExplain != null" >
                data_explain = #{dataExplain,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="curday != null" >
                curday = #{curday,jdbcType=INTEGER},
            </if>
            <if test="curhour != null" >
                curhour = #{curhour,jdbcType=BIT},
            </if>
            <if test="curminute != null" >
                curminute = #{curminute,jdbcType=BIT},
            </if>
            <if test="runNum != null" >
                run_num = #{runNum,jdbcType=BIT},
            </if>
            <if test="runStatus != null" >
                run_status = #{runStatus,jdbcType=BIT},
            </if>
            <if test="sendNum != null" >
                send_num = #{sendNum,jdbcType=BIT},
            </if>
            <if test="sendStatus != null" >
                send_status = #{sendStatus,jdbcType=BIT},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createRoleId != null" >
                create_role_id = #{createRoleId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateRoleId != null" >
                update_role_id = #{updateRoleId,jdbcType=BIGINT},
            </if>
            a.update_time = NOW(),
        </trim>
        where  a.id=#{id}
    </update>


    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fr_withdraw a
        <trim prefix="set" suffixOverrides=",">
            <if test="useStatus != 0 and useStatus >0 " >
                a.use_status=#{useStatus},
            </if>
            a.yn=#{yn},
            a.update_time=NOW()
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>

    <!--逻辑删除数据 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_fr_withdraw a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>

</mapper>